*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.pics{
    cursor: pointer;
}

#pcs{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.arth{
    width: 200px;
    height: 200px;
}

.nir, .put{
    width: 150px;
    height: 150px;
}

#info{
    margin-top: 20px;
    text-align: center;
}

#control{
    margin-top: 60px;
    text-align: center;   
}

.fa {
    color: #ff00ff;
    cursor: pointer;
    font-size: 50px;
}

#pause{
    display: none;
}

#bar{
    text-align: center;
    margin-top: 30px;
}

#progress{
    border-radius: 25px;
}

#time{
    text-align: center;
}

#current-time{
    margin-right: 400px;
}
