*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.pics{
    cursor: pointer;
}

#pcs{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.arth{
    width: 200px;
    height: 200px;
    margin-left: 8px;
    margin-right: 8px;
}

.nir, .put{
    width: 150px;
    height: 150px;
    margin-left: 8px;
    margin-right: 8px;
}

#info{
    margin-top: 20px;
    text-align: center;
    color: floralwhite;
}

#control{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*gap: 10px;*/
    margin-top: 60px;
       
}

.fa {
    color: #ff00ff;
    cursor: pointer;
}

.fa-play-circle, .fa-pause-circle{
    font-size: 50px;
}

.fa-step-backward, .fa-step-forward{
    font-size: 30px;
}

.fa-step-backward{
    margin-right: 10px;
}

.fa-step-forward{
    margin-left: 10px;
}

#pause{
    display: none;
}

#bar{
    text-align: center;
    margin-top: 30px;
    
}

#progress{
    border-radius: 25px;
}

#time{
    text-align: center;
    color: floralwhite;
}

#current-time{
    margin-right: 400px;
}

body{
    background-image: url("crowd.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

#msg{
    text-align: center;
    color: floralwhite;
    margin-top: 180px;
    font-size: smaller;
}

#prevTwo{
    display: none;
}

#nextTwo{
    display: none;
}




@media only screen and (max-width: 768px){
    #progress{
        width: 300px;
        height: 20px;
    }

    #current-time{
        margin-right: 180px;
    }

    #msg{
        margin-top: 55px;
    }
}